In [1]:
import mysql.connector
from mysql.connector import errorcode

# Teste de conexão

In [ ]:
try:
    db_connection = mysql.connector.connect(host='localhost', user='root', password='', database='')
    print("conexao feita")
except mysql.connector.Error as error:
    if error.errno == errorcode.ER_BAD_DB_ERROR:
        print("database nao existe")
    elif error.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("senha ou usuario errado")
    else:
        print(error)
else:
    db_connection.close()

# Criando a database

In [ ]:
db_connection = mysql.connector.connect(host='localhost', user='root', password='', database='')
cursor = db_connection.cursor()
sql = "CREATE DATABASE trabalho_pratico_m2"
cursor.execute(sql)
db_connection.close()

# Criando a tabela bebida

In [ ]:
db_connection = mysql.connector.connect(host='localhost', user='root', password='', database='trabalho_pratico_m2')
cursor = db_connection.cursor()
sql = "CREATE TABLE bebida (cod_bebida INT PRIMARY KEY, bebida VARCHAR(45))"
cursor.execute(sql)

# Criando a tabela animal de estimação

In [ ]:
sql = "CREATE TABLE animal_estimacao (cod_animal_estimacao INT PRIMARY KEY, animal VARCHAR(45))"
cursor.execute(sql)

# Criando a tabela clima

In [ ]:
sql = "CREATE TABLE clima (cod_clima INT PRIMARY KEY, clima VARCHAR(45))"
cursor.execute(sql)

# Criando a tabela hobbie

In [ ]:
sql = "CREATE TABLE hobbie (cod_hobbie INT PRIMARY KEY, hobbie VARCHAR(45))"
cursor.execute(sql)

# Criando a tabela pessoa

In [ ]:
sql = "CREATE TABLE pessoa (cod_pessoa INT PRIMARY KEY, genero VARCHAR(45), data_nascimento DATE)"
cursor.execute(sql)

# Criando a tabela pesquisa

In [ ]:
sql = "CREATE TABLE pesquisa (cod_pesquisa INT PRIMARY KEY, data_pesquisa DATE,cod_pessoa INT,cod_animal_estimacao INT,cod_bebida INT,cod_hobbie INT,cod_clima INT)"
cursor.execute(sql)
db_connection.close()

# Adicionando as foreign keys

In [ ]:
db_connection = mysql.connector.connect(host='localhost', user='root', password='', database='trabalho_pratico_m2')
cursor = db_connection.cursor()
sql = "ALTER TABLE pesquisa ADD FOREIGN KEY (cod_pessoa) REFERENCES pessoa (cod_pessoa)"
cursor.execute(sql)
sql = "ALTER TABLE pesquisa ADD FOREIGN KEY (cod_animal_estimacao) REFERENCES animal_estimacao (cod_animal_estimacao)"
cursor.execute(sql)
sql = "ALTER TABLE pesquisa ADD FOREIGN KEY (cod_bebida) REFERENCES bebida (cod_bebida)"
cursor.execute(sql)
sql = "ALTER TABLE pesquisa ADD FOREIGN KEY (cod_hobbie) REFERENCES hobbie (cod_hobbie)"
cursor.execute(sql)
sql = "ALTER TABLE pesquisa ADD FOREIGN KEY (cod_clima) REFERENCES clima (cod_clima)"
cursor.execute(sql)
db_connection.close()

# Carregando os dados

In [2]:
import pandas as pd
import os

1. Lendo os dados

In [3]:
arq = os.listdir('/root/BASE_TP/')
dados = '/root/BASE_TP/'+arq.pop()
result = pd.read_csv(dados,sep='|',encoding='latin-1')

for x in arq:
    dados = '/root/BASE_TP/'+x
    df = pd.read_csv(dados,sep='|',encoding='latin-1')
    result = pd.concat([result, df], ignore_index=True)
df = result

In [4]:
df.head(5)

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies
0,10141743,2020-01-01,Masculino,1981-04-25,peixe,frio,Cerveja,Praticar esporte
1,10141860,2020-01-01,Feminino,1966-01-19,peixe,quente,Café,Assistir TV
2,10142548,2020-01-01,Masculino,1973-08-02,tartaruga,frio,Café,Ler livros
3,10142591,2020-01-01,Masculino,1997-03-05,gato,moderado,Cerveja,Aprender algo novo
4,10142654,2020-01-01,Feminino,1969-08-05,tartaruga,moderado,Café,Assistir TV

# Carregando a tabela animal_estimacao

In [8]:
df['animal_estimacao'].unique().tolist()

['peixe', 'tartaruga', 'gato', 'cachorro']

In [10]:
db_connection = mysql.connector.connect(host='localhost', user='root', password='', database='trabalho_pratico_m2')
cursor = db_connection.cursor()
g = df['animal_estimacao'].unique().tolist()
count = 1
for x in g:
    sql = "INSERT INTO animal_estimacao (cod_animal_estimacao,animal) VALUES ({},'{}')".format(count,x)
    cursor.execute(sql)
    db_connection.commit()
    count = count + 1
db_connection.close()

# Carregando a tabela bebida

In [12]:
db_connection = mysql.connector.connect(host='localhost', user='root', password='', database='trabalho_pratico_m2')
cursor = db_connection.cursor()
g = df['bebida_favorita'].unique().tolist()
count = 1
for x in g:
    sql = "INSERT INTO bebida (cod_bebida,bebida) VALUES ({},'{}')".format(count,x)
    cursor.execute(sql)
    db_connection.commit()
    count = count + 1
db_connection.close()

# Carregando a tabela clima

In [13]:
db_connection = mysql.connector.connect(host='localhost', user='root', password='', database='trabalho_pratico_m2')
cursor = db_connection.cursor()
g = df['clima'].unique().tolist()
count = 1
for x in g:
    sql = "INSERT INTO clima (cod_clima,clima) VALUES ({},'{}')".format(count,x)
    cursor.execute(sql)
    db_connection.commit()
    count = count + 1
db_connection.close()

# Carregando a tabela hobbie

In [15]:
db_connection = mysql.connector.connect(host='localhost', user='root', password='', database='trabalho_pratico_m2')
cursor = db_connection.cursor()
g = df['hobbies'].unique().tolist()
count = 1
for x in g:
    sql = "INSERT INTO hobbie (cod_hobbie,hobbie) VALUES ({},'{}')".format(count,x)
    cursor.execute(sql)
    db_connection.commit()
    count = count + 1
db_connection.close()

# Carregando a tabela pessoa

In [36]:
db_connection = mysql.connector.connect(host='localhost', user='root', password='', database='trabalho_pratico_m2')
cursor = db_connection.cursor()
g = df.values
for x in g:
    sql = "INSERT INTO pessoa (cod_pessoa,genero,data_nascimento) VALUES ({},'{}','{}')".format(x[0],x[2],x[3])
    cursor.execute(sql)
    db_connection.commit()
db_connection.close()

# Carregando a tabela pesquisa

In [50]:
db_connection = mysql.connector.connect(host='localhost', user='root', password='', database='trabalho_pratico_m2')
cursor = db_connection.cursor()
g = df.values
count = 1
for x in g:
    sql = "SELECT cod_animal_estimacao FROM animal_estimacao WHERE animal = '{}'".format(x[4])
    cursor.execute(sql)
    animal_e = cursor.fetchall() 
    sql = "SELECT cod_bebida FROM bebida WHERE bebida = '{}'".format(x[6])
    cursor.execute(sql)
    bebida_e = cursor.fetchall()
    sql = "SELECT cod_hobbie FROM hobbie WHERE hobbie = '{}'".format(x[7])
    cursor.execute(sql)
    hobbie_e = cursor.fetchall()
    sql = "SELECT cod_clima FROM clima WHERE clima = '{}'".format(x[5])
    cursor.execute(sql)
    clima_e = cursor.fetchall()
    sql = "INSERT INTO pesquisa (cod_pesquisa,data_pesquisa,cod_pessoa,cod_animal_estimacao,cod_bebida,cod_hobbie,cod_clima) VALUES ({},'{}',{},{},{},{},{})".format(count,x[1],x[0],animal_e[0][0],bebida_e[0][0],hobbie_e[0][0],clima_e[0][0])
    cursor.execute(sql)
    db_connection.commit()
    count = count+1
db_connection.close()

# Respondendo a perguntas sobre o database

1. Qual é a soma das Pessoas que gostam de gato ou cachorro? Utilize operador IN na clausura where.

In [53]:
db_connection = mysql.connector.connect(host='localhost', user='root', password='', database='trabalho_pratico_m2')
cursor = db_connection.cursor()
sql = "SELECT count(*) FROM pesquisa WHERE cod_animal_estimacao = 3 OR cod_animal_estimacao = 4 "
cursor.execute(sql)
resp = cursor.fetchall()
print("Resposta: {}".format(resp[0][0]))

1278

2. Qual a média de idade dos mulheres que gostam de chá e clima frio?

In [69]:
sql = "SELECT AVG(DATEDIFF(pesquisa.data_pesquisa,pessoa.data_nascimento)/365) FROM pesquisa INNER \
        JOIN pessoa ON pesquisa.cod_pessoa=pessoa.cod_pessoa \
        INNER JOIN bebida ON pesquisa.cod_bebida = bebida.cod_bebida \
        INNER JOIN clima ON pesquisa.cod_clima = clima.cod_clima \
        WHERE pessoa.genero = 'Feminino' and bebida.bebida = 'Chá' and clima.clima = 'frio'"
cursor.execute(sql)
resp = cursor.fetchall()
print("Resposta: {}".format(resp[0][0]))

Resposta: 48.27591532

3. Qual o segundo maior hobbie de preferência entre os homens?

In [79]:
sql = "SELECT hobbie.hobbie, count(hobbie.hobbie) AS c FROM hobbie INNER \
        JOIN pesquisa ON pesquisa.cod_hobbie=hobbie.cod_hobbie \
        INNER JOIN pessoa ON pesquisa.cod_pessoa = pessoa.cod_pessoa \
        WHERE pessoa.genero = 'Masculino'\
        GROUP BY hobbie.hobbie"
cursor.execute(sql)
resp = cursor.fetchall()
print("Resposta: {}".format(resp))

Resposta: [('Aprender algo novo', 183), ('Praticar esporte', 175), ('Escrever', 182), ('Escutar música', 153), ('Pintar quadros', 171), ('Assistir TV', 173), ('Dormir', 184), ('Ler livros', 177)]

4. Qual é a média de idade das pessoas que têm como hobbie assistir TV?

In [92]:
sql = "SELECT AVG(DATEDIFF(pesquisa.data_pesquisa,pessoa.data_nascimento)/365) FROM pesquisa\
        INNER JOIN pessoa ON pesquisa.cod_pessoa=pessoa.cod_pessoa\
        INNER JOIN hobbie ON pesquisa.cod_hobbie = hobbie.cod_hobbie \
        WHERE hobbie.hobbie = 'assistir TV'"
cursor.execute(sql)
resp = cursor.fetchall()
print("Resposta: {}".format(resp[0][0]))

Resposta: 44.56202927

5. Quantas pessoas têm como hobbie como ler livros e qual a sua média de idade respectivamente?

In [96]:
sql = "SELECT count(*) FROM pesquisa WHERE cod_hobbie = 3"
cursor.execute(sql)
resp = cursor.fetchall()
print("Resposta: {}".format(resp[0][0]))
sql = "SELECT AVG(DATEDIFF(pesquisa.data_pesquisa,pessoa.data_nascimento))/365 FROM pesquisa\
        INNER JOIN pessoa ON pesquisa.cod_pessoa = pessoa.cod_pessoa\
        INNER JOIN hobbie ON pesquisa.cod_hobbie = hobbie.cod_hobbie\
        WHERE hobbie.cod_hobbie = 3"
cursor.execute(sql)
resp = cursor.fetchall()
print("Resposta: {}".format(resp[0][0]))

Resposta: 257
Resposta: 44.10956772

6. Qual a quantidade de pessoas que gostam de tempo moderado?

In [97]:
sql = "SELECT count(*) FROM pesquisa\
        INNER JOIN clima ON pesquisa.cod_clima = clima.cod_clima\
        WHERE clima.clima = 'moderado'"
cursor.execute(sql)
resp = cursor.fetchall()
print("Resposta: {}".format(resp[0][0]))

Resposta: 711

7. Qual o animal de estimação preferido entre as mulheres?

In [100]:
sql = "SELECT animal_estimacao.animal, count(*) FROM animal_estimacao\
        INNER JOIN pesquisa ON pesquisa.cod_animal_estimacao = animal_estimacao.cod_animal_estimacao\
        INNER JOIN pessoa ON pesquisa.cod_pessoa = pessoa.cod_pessoa\
        WHERE pessoa.genero = 'Feminino'\
        GROUP BY animal_estimacao.animal"
cursor.execute(sql)
resp = cursor.fetchall()
print("Resposta: {}".format(resp))

Resposta: [('peixe', 158), ('tartaruga', 149), ('gato', 279), ('cachorro', 143)]

8. Quantas pessoas gostam de clima quente por gênero?

In [103]:
sql = "SELECT pessoa.genero, count(*) FROM pessoa\
        INNER JOIN pesquisa ON pesquisa.cod_pessoa = pessoa.cod_pessoa\
        INNER JOIN clima ON pesquisa.cod_clima = clima.cod_clima\
        WHERE clima.clima = 'quente'\
        GROUP BY pessoa.genero"
cursor.execute(sql)
resp = cursor.fetchall()
print("Resposta: {}".format(resp))

Resposta: [('Feminino', 246), ('Masculino', 447)]

9. Quantas pessoas do sexo masculino gostam de cachorro e possuem hobbie de assistir tv?

In [105]:
sql = "SELECT count(*) FROM pesquisa\
        INNER JOIN animal_estimacao ON pesquisa.cod_animal_estimacao = animal_estimacao.cod_animal_estimacao\
        INNER JOIN hobbie ON pesquisa.cod_hobbie = hobbie.cod_hobbie\
        INNER JOIN pessoa ON pesquisa.cod_pessoa = pessoa.cod_pessoa\
        WHERE pessoa.genero='Masculino' and animal_estimacao.animal = 'cachorro' and hobbie.hobbie = 'assistir TV'"
cursor.execute(sql)
resp = cursor.fetchall()
print("Resposta: {}".format(resp[0][0]))

Resposta: 44